<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>
<!--This is the main page or splash page-->
<main>
  <link rel="stylesheet" type="text/css" href="app.css" />
  <body>
  <div class="jumbotran jumbotran-fluid">
    <div class="container">
      <br>
      <br>
      <br>
      <!--Welcome message and call to action to click the button below-->
      <h1 class="welcomeMessage1"> Welcome to the Assignment Planner</h1>
      <br>
      <h1 class="welcomeMessage2"> Click the Button Below to Start Planning Now</h1>
      <br>
      <br>
      <!--This button leads to the planner page-->
      <a class="btn btn-primary" href="/bookslist" role="button">Get Started Here</a>
    </div>
  </div>
  </body>
</main>
<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>