<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>
<main>
  <link rel="stylesheet" type="text/css" href="app.css" />
  <body>
  <div class="jumbotran jumbotran-fluid">
    <div class="container">
      <br>
      <br>
      <br>
      <h1 class="welcomeMessage1"> Welcome to the Assignment Planner</h1>
      <br>
      <h1 class="welcomeMessage2"> Get Started by Clicking the Planner Tab</h1>
      <br>
      <br>
      <a class="btn btn-primary" href="/bookslist" role="button">Get Started Here</a>
    </div>
  </div>
  </body>
</main>
<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>